{
    "debug": 1,
    "role": "client_mute",
    "callsign": "KJ6DZB-10",
    "meshtastic": {
        "address": "192.168.1.100"
    },
    "meship": {},
    "aprs": {
        "enabled": false,
        "callsign": "KJ6DZB-10",
        "channel": "APRS og==",
        "default_group": "MeshOps",
        "backend": {
            "type": "kiss_tcp",
            "host": "127.0.0.1",
            "port": 8001,
            "kiss_port": 0,
            "tx_enabled": false,
            "path": []
        },
        "groups": [
            {
                "name": "MeshOps",
                "members": [ "KJ6DZB-4" ],
                "repeat_member_messages": false,
                "rate_limit_seconds": 20,
                "max_members": 10
            }
        ]
    },
    "location": {
        "latitude": 37.000,
        "longitude": -122.000,
        "altitude": 10,
        "precision": 15
    },
    "platform_debian": {
        "store": "/tmp/at"
    },
    "maxhops": 7,
    "messages": {},
    "channels": [
        { "namekey": "AREDN og==", "telemetry": false },
        { "namekey": "APRS og==", "telemetry": false },
        { "namekey": "LongFast AQ==", "telemetry": true, "meshtastic": true }
    ],
    "telemetry": {
        "environmental_weewx": {
            "url": "http://weewx.home/current_minimal.json"
        }
    }
}
